* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    background: rgb(72,67,75);
    color: rgb(221,203,142);
}



/* Header/logo Title */
.header {
    z-index:2;
    padding: 80px;
    text-align: center;
    background: rgb(29,28,34);
    color:  rgb(221,203,142);
    
}

/* Increase the font size of the heading */
.header h1 {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



/* Style the top navigation bar */
.navbar {
    z-index:2;
    overflow: hidden;
    background-color: #333;
    position: relative;
    margin bottom: 0;
}

/* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
   
}

/* Right-aligned link */
.navbar a.right {
    float: right;
}

/* Change color on hover */
.navbar a:hover {
    background: linear-gradient(to top, #ddddddd3, rgba(235, 235, 235, 0.87));
    color: black;
    -webkit-transition: all 0.9s ease;;
    -moz-transition: all 0.9s ease;;
    -o-transition: all 0.9s ease;;
    transition: all 0.9s ease;
}
.navbar a{
    color: rgb(221,203,142);
    text-decoration: none;
}
/* burger-menu*/
.burger-menu{
    display: block;
    flex-direction: row;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}


/* Column container */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
}



/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.sidebar {
    -ms-flex: 30%; /* IE10 */
    position: sticky;
    max-height: 470px;
    top: 0px;
    margin-top: 0;
    padding: 12px;
    top: 0;
    border-radius: 5px;
}

.button {
    margin-bottom: 20px;
    display: block;
}

a.button {
    width: 250px;
    color: rgb(72,67,75);
    text-decoration: none;
    user-select: none;
    background: rgb(221,203,142);
    padding: 15px 15px;
    border: 4px ridge;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 15%);
    border-color: rgb(229,159,81);
    border-radius: 10px;
    -webkit-transition: all 0.5s ease;;
    -moz-transition: all 0.5s ease;;
    -o-transition: all 0.5s ease;;
    transition: all 0.5s ease;
    
}

a.button:hover {
    color: rgb(8, 0, 78);
    background: #e7aef8;
    padding: 15px 15px;
    border-color: #fa9efa;
    border-radius: 10px;
}    

/* Main column */
.main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    padding: 30px;
    max-width: 1000px;
    margin: 0 auto;
    color: rgb(221,203,142) /*#FFB174*/
    
}

.peoplereplies{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    max-width: 1200px;
}

.body__text{
    display: flex;
    flex-basis:content;
    flex-wrap: wrap;
}

.text__item{
    height: auto;
    max-width: 700px;
    position: relative;
    padding: 10px;
    background: rgb(87,87,90);
    border-radius: 10px;
    vertical-align:bottom;
    margin: 0 10px 10px 10px;
}

@media screen and (max-width: 706px) {
    .text__replie{
        margin: 10px;
    }
}

html {
    scroll-behavior: smooth;
}

.onTop {
    position: fixed;
    z-index: 9999;
    bottom: 0%;
    right: 0%;
    background: rgb(29,28,34);
    opacity: .9;
    color: rgb(221,203,142);
    padding: 10px;
    margin: 5px 15px 15px 5px;
    border: 1mm ridge;
    border-color: rgb(229,159,81);
    border-radius: 10px;
    -webkit-transition: all 0.5s ease;;
    -moz-transition: all 0.5s ease;;
    -o-transition: all 0.5s ease;;
    transition: all 0.5s ease;
}
a.idTop:hover {
    opacity: 1;
}

/*ACCORDION*/
.accordion{
    max-width: 40rem; 
    margin: 5rem auto;
}
.accordion__item {
width: 200px;
margin-bottom: 0.5rem;
border-radius: 0.25rem;
box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 15%);
margin: 5px 30px 15px 5px;
}

.accordion__header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 0.75rem 1rem;
color: #fff;
font-weight: 500;
background-color: rgb(87,87,90);
border-top-left-radius: 0.25rem;
border-top-right-radius: 0.25rem;
cursor: pointer;
transition: background-color 0.4s ease-out;
max-width:300px
}

.accordion__header::after {
flex-shrink: 0;
width: 1.25rem;
height: 1.25rem;
margin-left: auto;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
background-repeat: no-repeat;
background-size: 1.25rem;
content: "";
transition: transform 0.4s ease-out;
}

.accordion__item_show .accordion__header::after,
.accordion__item_slidedown .accordion__header::after {
transform: rotate(-180deg);
}

.accordion__header:hover {
background-color: #a41dbe;
}

.accordion__item:not(.accordion__item_show) .accordion__header {
border-bottom-right-radius: 0.25rem;
border-bottom-left-radius: 0.25rem;
}

.accordion__content {
padding: 0.75rem 1rem;
background: #fff;
border-bottom-right-radius: 0.25rem;
border-bottom-left-radius: 0.25rem;
width: 200px;
}

.accordion__item:not(.accordion__item_show) .accordion__body {
display: none;
}

/* ⸸ */
/* Footer */
.footer {
    position: bottom;
    left: 0;
	bottom: 1;
	width: 100%;
	height: 200px;
    padding: 20px;
    text-align: center;
    background: #201f1f;
    color: rgb(199,166,121);
    border-radius: 10px;
    border-style: solid;
    margin-top: 0px;
}

.element1 {
    opacity: 0.7;
    background: #edab92;
    float: left;
    width: 310px;
    border: 4px solid red;
    padding: 6px;
    padding-right: 15px;
    }
     
    .element2 {
    width: 310px;
    float: left;
    background: #fc0;
    border: solid 1px grey;
    position: relative;
    padding: 6px;
    left: -65px;
    top: 55px;
    border-radius: 10px;
    }

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
    .sidebar {
        display: none;
    }
}

@media screen and (max-width: 420px) {
    .accordion{
        float: none;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        width: 300px;
        margin: auto;
        padding: 15px;
    }
    .accordion__item{
        float: none;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        width: 300px;
        position: center;
        padding: 15px;
    }
    .accordion__content{
        float: none;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        width: 100%;
        position: center;
        padding: 15px;
    }
    .accordion__header{
        float: none;
        display: flex;
        flex-direction: row;
        margin-left: auto;
        width: 100%;
        position: center;
        padding: 15px;
    }
    .accordion__header::after{
        margin: 0;
    }
    .accordion.accordion{
        float: none;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        width: 100%;
        padding: 15px;
    }
}

@media screen and (max-width: 930px) {
    .sidebar {
        position: relative;
        top: 0;
        left: 0;
    }
    .row {
        display: flex;
        flex-direction: column;
    }
    .ascontent{
        display: flex;
    }
}


@media screen and (max-width: 700px) {
    body.lock{
        height: 100%;
        overflow-y: hidden;
    }
    .row{
        flex-direction: column;
    }
    .burger-menu__inner{
        display: block;
        width: 40px;
        height: 30px;
    }
    .burger-menu__inner{
        display: center;
        margin: 15px 10px;
    }
    .burger-menu__inner span{
        background-color: #fff;
        position: absolute;
        height: 2px;
        left: 10px;
        width: 40px;
        z-index: 5;
    }
    
    .navbar.active a:hover{
    background: linear-gradient(to left, #9ed6f6, #94f9b2 100%);
    background-position: 0 100%;
    background-size: 100% 0;
    max-width: 100%;
    background-repeat: repeat-x;
    -webkit-transition: all 0.5s ease;;
    -moz-transition: all 0.5s ease;;
    -o-transition: all 0.5s ease;;
    transition: all 0.5s ease;
    box-shadow: 0;
    color: #00043a;
    }

    .burger-menu__inner span:nth-child(2){
        top: 35px;
    }
    
    .burger-menu__inner span:nth-child(1){
        top: 25px;
        
    } 

    .burger-menu span:nth-child(3){
        top: 45px;
    }
    .navbar a.right{
        margin-bottom: 10px;
        z-index: 5;
    }
    .burger-menu {
        position: fixed;
        top:-100%;
        width: 100%;
    }
    .burger-menu.active{
        margin-top:50px;
        display: flex;
        position: row;
        flex-flow: column nowrap;
        top: 0%;
        background: rgb(29,28,34);
        height: 100vh;
        overflow:visible;
        -webkit-transition: all 0.5s ease;;
        -moz-transition: all 0.5s ease;;
        -o-transition: all 0.5s ease;;
        transition: all 0.5s ease;
    }
    .burger-menu.active a{
         width: 100%; 
         text-align: left;
         color: rgb(221,203,142);
    }
    .burger-menu__inner.active{
        margin-top:40;
        z-index: 100;
        width: 100%;
        height: 40px;
        position: row;
    }
    .navbar.active{
        background-color: #333;
    }
}
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .accordion__item a {
        float: none;
        width: 100%;
    }
}

@media screen and (max-width: 930px) {
    .sidebar{
        display: none;
    }       
    .ascontent{
        margin: 0rem auto;
    }
    .accordion{
        margin: 0 auto;
        padding: 0;
    }
    .accordion__header{
       margin: 0rem auto;      
    }
}

@media screen and (max-width: 400px) {
    .gall{
        margin: 0 auto;
        padding: 0;
    }
}